{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'home' %}">Main Page</a>
                            </li>
                            <li>
                                <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                            </li>
                            <li>
                                <a href="{% url 'list_projects' %}">My Projects</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout?</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">Signup</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ show_project.name }}</h1>
                <p>{{ show_project.description }}</p>
            </div>
            <hr>
            <h2>Tasks</h2>
            <a href="{% url 'create_task' %}">Create Task</a>
            <hr>
            {% if show_project.tasks.count > 0 %}
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Assignee</td>
                            <td>Start date</td>
                            <td>Due date</td>
                            <td>Is completed</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in show_project.tasks.all %}
                            <tr>
                                <td>{{ items.name }}</td>
                                <td>{{ items.assignee }}</td>
                                <td>{{ items.start_date }}</td>
                                <td>{{ items.due_date }}</td>
                                <td>{{ items.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </main>
    </body>
    <footer>
    </footer>
</html>
